/* Flip card container */
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px; /* 3D effect */
  border-radius: 10px; /* Match image shape */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Match image shape */
  overflow: hidden; /* Hide corners of square images */
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  color: white;
  font-weight: bold;
}

/* Style the images within the cards to fill the container */
.flip-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers the area */
}

/* Text overlay style */
.card-text-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: rgba(118, 185, 0, 0.5); /* Semi-transparent background */
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-size: 0.9rem;
  font-weight: normal;
}

/* Icon block styling */
.icon-block a i {
  color: #909090 !important;
}

.no-flip .flip-card:hover .flip-card-inner {
  transform: none;
}

/* You can keep the original styles too */
.icon-block {
  --icon-color: #A0A0A0;
}
.icon-block a {
  color: var(--icon-color) !important;
}